 <div class = "back">
<div class="signup2">
 
<h1 class = "dash">Welcome to Luxia <br><br> Admin {{user.name}}</h1><br>
<p class = "dash">{{this.message}}</p>

<div class="addListProduct">
    <a class = "addListColor1" href="/admin/add">Add a Product</a>
</div>
<br>

<div class="addListProduct">
    <a class = "addListColor1" href="/admin/list">List All Products</a>
</div>
</div>
</div>

