

<h1 class = "dash">Welcome to Luxia, Admin {{user.name}}</h1><br>
<p class = "dash">{{this.message}}</p>

<div id="tasks-links-holder">
    <a href="/admin/add">Add a Product</a>
</div>

<div id="tasks-links-holder">
    <a href="/admin/list">List All Products</a>
</div>
