

<div class="back">
<img class= "logo2" src="./img/logo2.png" alt="a" />
<div class ="signup">
<h1>Create Account</h1>
<form method="POST" action ="/">
    <label for="firstName">Your Name</label>  <br>  
    <input class = "sign" type="text" id="firstName" name="firstName"> <br>


    <label for="email">Email</label> <br>   
    <input class = "sign" type="email" id="email" name="email"> <br> 

    <label for="password">Password</label> <br>   
    <input class = "sign" type = "password" id="password" name="password" placeholder = "At least 6 characters"> 
    <p class = "condition">Passwords must consist of at least 6 characters.</p> 

     <label for="password">Password again</label> <br>   
    <input class = "sign" type = "password" id="password" name="password"> <br> <br>
    

    <input class = "signbutton" type="submit" value="Create your Luxia account"> <br> <br>

    <p class ="condition"> By creating an account, you agree to Luxia's Conditions of Use and Privacy Notice</p>
</form>
</div>
</div>